.board {
    display: grid;
    grid-template-columns: repeat(19, 50px); /* 19x19 바둑판 */
    grid-template-rows: repeat(19, 50px);
    gap: 1px; /* 칸 사이의 간격 */
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
    margin-left: 10px;
    /* margin: 0; */
}

.square {
}

.board li {
    width: 50px;
    height: 50px;
    background-color: rgb(206, 103, 0);
    border: 1px solid #000; /* 검은색 테두리 */
    position: relative; /* 자식 요소의 위치를 조정하기 위해 필요 */
}

.area {
    width: 30px;
    height: 30px;
    position: absolute;
    transform: translate(-50%, -50%); /* 바둑알을 중앙에 위치시키기 */
}

.blackStone {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
    box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.5),
    inset -5px -5px 15px rgba(255, 255, 255, 0.2),
    5px 5px 15px rgba(0, 0, 0, 0.5);
}

.whiteStone {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.5),
    inset -5px -5px 15px rgba(255, 255, 255, 0.2),
    5px 5px 15px rgba(0, 0, 0, 0.5);
}

.enterArea {
    cursor: url(/black.png) 16 16, auto;
}

.timer {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 1100px;
    font-size: 70px;
    font-weight: bold;
}

.timerImgContainer {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 1000px;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes hard-shake {
    0% { transform: translate(2px, 2px) rotate(0deg); }
    10% { transform: translate(-1px, -3px) rotate(-2deg); }
    20% { transform: translate(-4px, 1px) rotate(2deg); }
    30% { transform: translate(4px, 3px) rotate(0deg); }
    40% { transform: translate(2px, -2px) rotate(2deg); }
    50% { transform: translate(-2px, 3px) rotate(-2deg); }
    60% { transform: translate(-3px, 2px) rotate(0deg); }
    70% { transform: translate(4px, 1px) rotate(-2deg); }
    80% { transform: translate(-1px, -2px) rotate(2deg); }
    90% { transform: translate(3px, 1px) rotate(0deg); }
    100% { transform: translate(2px, -3px) rotate(-2deg); }
}

.shake {
    display: inline-block;
    animation: shake 0.5s;
    animation-iteration-count: infinite;    
}

.hard-shake {
    display: inline-block;
    animation: shake 0.5s;
    animation-iteration-count: infinite;    
}

.latestPut {
    border: 3px solid red;
}

.userContainer {
    position: absolute;
    top: 120px;
    left: 1000px;
    width: 300px;
    height: 800px;
    display: flex;
    flex-direction: column;
}

.firstUserContainer {
    flex: 1;
}

.secondUserContainer {
    flex: 1;
}

.userImg {
    width : 200px;
    height: 200px;
}