.board {
    display: grid;
    grid-template-columns: repeat(19, 30px); /* 19x19 바둑판 */
    grid-template-rows: repeat(19, 30px);
    gap: 1px; /* 칸 사이의 간격 */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.board li {
    width: 30px;
    height: 30px;
    background-color: #fff; /* 흰색 칸 */
    border: 1px solid #000; /* 검은색 테두리 */
    position: relative; /* 자식 요소의 위치를 조정하기 위해 필요 */
}

.point {
    width: 5px;
    height: 5px;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.area {
    width: 30px;
    height: 30px;
    position: absolute;
    transform: translate(-50%, -50%); /* 바둑알을 중앙에 위치시키기 */
}

.blackStone {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: black;
}

.whiteStone {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: #000;
    border-style: inherit;
    border-width: thin;
    background-color: white;
}

.enterArea {
    cursor: url(/black.png) 16 16, auto;
}